<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjWlt0rcUdHrt_8g77Z83DdXx_BFzNM-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>924474583215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taxApp</string>
	<key>PROJECT_ID</key>
	<string>tax-app-test-data</string>
	<key>STORAGE_BUCKET</key>
	<string>tax-app-test-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924474583215:ios:a2c12d81b4af218b814c5a</string>
</dict>
</plist>